<h1>About Us</h1>



<pre style = "color:black">

"We are working on a One month Rails project. 

This site will be set up as a Pinterest reference directory for worship leaders
and include resources that can be pulled up by tags. This site will be used as a complement to the worship support website project, with the objective 
of inspiring prospective customers and helping them find immediate resources that they can leave for 
others. 

If executed well, this could be a major selling point i.e. access to a "FREE" site of worship ideas 

sorting by tags might be hard -- we will have to see how that develops as the course progresses 

An added benefit is that it will help to build a mailing list as members register in this Pinterest style
site - so I need to have the membership set up as a double opt-in - allowing for notifications when new resources are available </pre>