<h1>About Us</h1>

<%=  link_to "Home", root_path  %>
<p>We are working on a One month Rails project</p>

<p>This site will be set up as a Pinterest style reference directory for worship leaders
and include resources that can be pulled up by tags.</p>


<p>This site will be used as a complement to the worship support website project, with the objective 
of inspiring prospective customers and helping them find immediate resources that they can leave for 
others.</p>

<p> If executed well, this could be a major selling point i.e. access to a "FREE" site of worship ideas </p>

<p> sorting by tags might be hard -- we will have to see how that develops as the course progresses </p>

<p>An added benefit is that it will help to build a mailing list as members register in this Pinterest style 
site - so I need to have the membership set up as a double opt-in - allowing for notifications when new resources are available</p>