<h1>Contact us </h1>


<%=  link_to "Home", root_path  %>

<p>You can find me on email@sdrnews or on Twitter axmc.</p>
<p>
This is a project of Review Communications, Inc.
2337 Brookwood Drive
Elkhart, IN 46514</p>

<p>Phone 574-970-0375
</p>

