<% if user_signed_in? %>
        
        <div class="jumbotron jumbotron-home">
            <div class="container">
            
                    <h1>Welcome BACK!  </h1>
                   
            </div>
        </div>
<% else %>
        <div class="jumbotron jumbotron-home">
            <div class="container">
            
                
                    <font color = "yellow"><h1>Welcome to GoWorship!  </h1>
                    <p>Add worship resources for our worship guideline product service, and see how other congregations join us from around the world.  Registed Community Members can search, select, and download from the library without charge. Please sample and spread the word. </p> </font>
                    <%= link_to "Join Now »", signup_path, class: "btn btn-primary btn-lg" %> 
         
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Photos</h2>
                    <p>Your worship guide will benefit from a variety of photos and graphics that other community members have added. Members can search and view by topic and theme.</p>
                    <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                </div>
                <div class="col-md-4">
                    <h2>Videos</h2>
                    <p>Share the links to inspiring sermons, musical or teaching videos that you have found helpful for your worship experience. </p>
                    <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                </div>
                <div class="col-md-4">
                    <h2>Apps and Online Tools</h2>
                    <p>Keep your congregation involved throughout the week. Online applications and apps for smartphone or tablet reach all ages and interests.  </p>
                    <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
                </div>
            </div>
        </div>
<% end %>